<% content_for :navbar_actions do %>
  <%= link_to "Ajouter une liste", new_list_path, class: "btn btn-accent btn-sm" %>
<% end %>

<div class="container mt-4">
  <h2 class="page-title">Mes listes</h2>

  <div class="lists-grids">
    <% @lists.each_with_index do |list, index| %>
      <div class="list-item" style="position: relative;">
        <% is_fav = @favorite_list_ids&.include?(list.id) %>

        <%= button_to (is_fav ? "★" : "☆"),
            toggle_favorite_list_path(list),
            method: :post,
            form: { data: { turbo: true } },
            class: "btn btn-sm btn-outline-light",
            style: "position:absolute; top:10px; right:10px; z-index: 5;" %>

        <%= render "shared/list", list: list, index: index %>
      </div>
    <% end %>
  </div>
</div>
