<div class="container">
  <h2><%= @list.name %></h2>

  <div class="container">
    <div class="movies-grid">
      <% @list.movies.each do |movie| %>
        <%= render "shared/card", movie: movie %>
      <% end %>
    </div>
  </div>
</div>
