<div class="d-flex justify-content-between ms-5 me-5 ps-5 pt-3 pb-0">
  <h1 ><%= @list.name %></h1>
  <div class="justify-content-center">
  <%= link_to "Supprimer liste", list_path(@list), data: {turbo_method: :delete, turbo_confirm: "Etes-vous sûr de vouloir supprimer votre liste #{@list.name} ?"}, class:"btn btn-danger" %>
  </div>
</div>


<div class="container">
  <div>
  <%= render "shared/chat", messages: @messages, chat: @chat %>
  </div>


  <div class="container">
    <div class="movies-grid">
      <% @list.movies.each do |movie| %>
        <%= render "shared/card", movie: movie %>
      <% end %>
    </div>
  </div>
</div>
