<div class=container>
<div class="list-card mb-3">
  <div class="list-card-body">
    <h3 class="list-card-title"><%= list.name %></h3>
    <%= link_to "Voir", "#", class: "btn btn-accent btn-sm mb-3"%>
  </div>
</div>
</div>
