<p>hello <%= @resource.email %></p>

<p>someone has requested a link to change your password. you can do this through the link below.</p>

<p><%= link_to 'Changer mon mot de passe', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>if you didnt request this, please ignore this email.</p>
<p>your password won t change until you access the link above and create a new one.</p>
